In [9]:
%run Functions.ipynb

In [10]:
# Rules.ipynb
from datetime import datetime, timedelta
import pandas as pd
from sqlalchemy import text
import json
from typing import List

RULE_REGISTRY = {}

def rule(rule_id):
    def decorator(func):
        RULE_REGISTRY[rule_id] = func
        return func
    return decorator

def store_rule_output(rule_id: str, df: pd.DataFrame):
    engine = get_db_engine()
    json_data = df.to_json(orient='records')
    with engine.connect() as conn:
        conn.execute(text("""
            INSERT INTO rule_results (rule_id, result_json, last_updated)
            VALUES (:rid, :rjson, now())
            ON CONFLICT (rule_id) DO UPDATE SET 
                result_json = EXCLUDED.result_json,
                last_updated = EXCLUDED.last_updated
        """), {"rid": rule_id, "rjson": json_data})

def get_cached_rule_output(rule_id: str):
    engine = get_db_engine()
    with engine.connect() as conn:
        result = conn.execute(text("SELECT result_json FROM rule_results WHERE rule_id = :rid"), {"rid": rule_id})
        row = result.fetchone()
        return json.loads(row[0]) if row else None

# ---------------------------
# RULE IMPLEMENTATIONS
# ---------------------------

@rule("rule_01")
def customers_without_accounts():
    df = get_cust_acc()
    result = df[df['account_no'].isnull()]
    store_rule_output("rule_01", result)
    return result

@rule("rule_02")
def accounts_without_transactions():
    df = get_acc_tran()
    result = df[df['transaction_id'].isnull()]
    store_rule_output("rule_02", result)
    return result

@rule("rule_03")
def high_value_transactions():
    df = get_transactions(min_amount=100000)
    store_rule_output("rule_03", df)
    return df

@rule("rule_04")
def old_accounts():
    df = get_accounts()
    result = df[pd.to_datetime(df['activation_date']) < datetime(2020, 1, 1)]
    store_rule_output("rule_04", result)
    return result

@rule("rule_05")
def zero_amount_transactions():
    df = get_transactions(amount=0.0)
    store_rule_output("rule_05", df)
    return df

@rule("rule_06")
def customers_with_multiple_accounts():
    df = get_accounts()
    grouped = df.groupby('customer_id').filter(lambda x: len(x) > 1)
    store_rule_output("rule_06", grouped)
    return grouped

@rule("rule_07")
def dormant_accounts():
    df = get_acc_tran()
    one_year_ago = datetime.now() - timedelta(days=365)
    result = df[pd.to_datetime(df['transaction_time']) < one_year_ago]
    result = result.drop_duplicates('account_no')
    store_rule_output("rule_07", result)
    return result

@rule("rule_08")
def transactions_on_inactive_accounts():
    df = get_acc_tran()
    result = df[df['account_status'].str.lower() != 'active']
    store_rule_output("rule_08", result)
    return result

@rule("rule_09")
def missing_city_customers():
    df = get_customers()
    result = df[df['city'].isnull() | (df['city'].str.strip() == '')]
    store_rule_output("rule_09", result)
    return result

@rule("rule_10")
def transaction_before_activation():
    df = get_acc_tran()
    df['transaction_time'] = pd.to_datetime(df['transaction_time'])
    df['activation_date'] = pd.to_datetime(df['activation_date'])
    result = df[df['transaction_time'] < df['activation_date']]
    store_rule_output("rule_10", result)
    return result

@rule("rule_11")
def burst_transactions():
    df = get_transactions()
    df['transaction_time'] = pd.to_datetime(df['transaction_time'])
    grouped = df.groupby(['account_no', pd.Grouper(key='transaction_time', freq='1min')]).filter(lambda x: len(x) >= 5)
    store_rule_output("rule_11", grouped)
    return grouped

@rule("rule_12")
def frequent_small_transactions():
    df = get_transactions(max_amount=100)
    grouped = df.groupby('account_no').filter(lambda x: len(x) >= 10)
    store_rule_output("rule_12", grouped)
    return grouped

@rule("rule_13")
def customer_transaction_multiple_accounts():
    df = get_cust_acc_tran()
    result = df.groupby('customer_id').filter(lambda x: x['account_no'].nunique() > 1 and len(x) > 5)
    store_rule_output("rule_13", result)
    return result

@rule("rule_14")
def mismatched_customer_ids():
    df = get_cust_acc_tran()
    result = df[df['customer_id'] != df['customer_id']]
    store_rule_output("rule_14", result)
    return result

@rule("rule_15")
def potential_duplicates_by_name():
    df = get_customers()
    dupes = df[df.duplicated(subset=['name'], keep=False)]
    store_rule_output("rule_15", dupes)
    return dupes

def run_rule(rule_id: str) -> List[dict]:
    cached = get_cached_rule_output(rule_id)
    if cached:
        return cached
    result_df = RULE_REGISTRY[rule_id]()
    return json.loads(result_df.to_json(orient='records'))

NameError: name 'result' is not defined

In [16]:
result = customers_without_accounts()

In [18]:
result

,id,customer_id,name,dob,email_id,city,update_date,account_no,account_type,account_status,activation_date
76,39,CUST_031,Varun Khanna,1989-11-12,varun.khanna89@outlook.com,Mumbai,2024-06-19,NaN,NaN,NaN,NaN
77,40,CUST_032,Shivani Joshi,1992-04-03,shivani.joshi92@gmail.com,Pune,2023-12-14,NaN,NaN,NaN,NaN
78,41,CUST_033,Arun Kumar,1987-07-26,arun.kumar87@yahoo.com,Hyderabad,2025-04-02,NaN,NaN,NaN,NaN
79,42,CUST_034,Neeta Sharma,1993-10-15,neeta.sharma93@gmail.com,Jaipur,2024-07-21,NaN,NaN,NaN,NaN
80,43,CUST_035,Pranav Nair,1988-02-28,pranav.nair88@outlook.com,Bangalore,2023-11-30,NaN,NaN,NaN,NaN
81,44,CUST_036,Kavita Reddy,1991-09-09,kavita.reddy91@gmail.com,Hyderabad,2025-02-16,NaN,NaN,NaN,NaN
82,45,CUST_037,Harsh Gupta,1985-12-22,harsh.gupta85@yahoo.com,Kanpur,2022-10-08,NaN,NaN,NaN,NaN
83,46,CUST_038,Swati Mehra,1994-01-14,swati.mehra94@gmail.com,Delhi,2024-09-05,NaN,NaN,NaN,NaN
84,47,CUST_039,Rajeev Menon,1986-06-07,rajeev.menon86@outlook.com,Chennai,2023-08-12,NaN,NaN,NaN,NaN
85,48,CUST_040,Pallavi Rao,1990-08-19,pallavi.rao90@gmail.com,Bangalore,2025-03-24,NaN,NaN,NaN,NaN
86,49,CUST_041,Amit Sharma,1987-03-11,amit.sharma87@yahoo.com,Jaipur,2024-05-17,NaN,NaN,NaN,NaN
87,50,CUST_042,Divya Kapoor,1992-12-05,divya.kapoor92@gmail.com,Mumbai,2023-10-22,NaN,NaN,NaN,NaN
88,51,CUST_043,Rakesh Patel,1989-05-28,rakesh.patel89@outlook.com,Ahmedabad,2025-01-13,NaN,NaN,NaN,NaN
89,52,CUST_044,Anita Deshpande,1993-07-16,anita.deshpande93@gmail.com,Pune,2024-08-09,NaN,NaN,NaN,NaN
90,53,CUST_045,Vikram Bhat,1988-10-09,vikram.bhat88@yahoo.com,Bangalore,2023-12-27,NaN,NaN,NaN,NaN
91,54,CUST_046,Shalini Nair,1991-04-02,shalini.nair91@gmail.com,Chennai,2025-02-03,NaN,NaN,NaN,NaN
92,55,CUST_047,Rohit Verma,1986-11-25,rohit.verma86@outlook.com,Delhi,2024-07-14,NaN,NaN,NaN,NaN
93,56,CUST_048,Megha Srinivas,1990-02-18,megha.srinivas90@gmail.com,Hyderabad,2023-09-08,NaN,NaN,NaN,NaN
94,57,CUST_049,Alok Chaturvedi,1985-09-01,alok.chaturvedi85@yahoo.com,Lucknow,2022-11-19,NaN,NaN,NaN,NaN
95,58,CUST_050,Priyanka Banerjee,1994-06-12,priyanka.banerjee94@gmail.com,Kolkata,2025-04-05,NaN,NaN,NaN,NaN

NameError: name 'df' is not defined